@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One');

@media(max-width: 992px){
    .description{
        display: none;
    }
}

@media(min-width: 550px){
    .navMenu{
        display: none;
    }
}

@media(max-width: 550px){
    #home, #menu, #contact, #aboutus{
        display: none;
    }
}

.menu2{
    font-family: fantasy;
    font-size: 18px;
}

.clock{
    position: absolute;
    color: white;
}

header {
  position: relative;
  height: 105vh;
  overflow: hidden;
}

video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

body{
    max-width: 100%;
    margin: auto;
}

#home, #home2{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    max-width: 30px;
    max-height: 30px;
    color: white;
    margin-left: -30px;
}

#menu, #menu2{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    max-width: 30px;
    max-height: 30px;
    color: white;
    margin-left: -30px;
}

#contact, #contact2{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    max-width: 45px;
    max-height: 30px;
    color: white;
    margin-left: -30px;
}

#aboutus, #aboutus2{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    max-width: 45px;
    max-height: 30px;
    color: white;
    margin-left: -30px;
}

header .menu a:hover{
    font-size: 20px;
    padding: 0;
}


.menu{
    font-family: 'Anton';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
}

.menu2{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 570px){
    .toptitle, .toptext{
        display: none;
    }
}

header .logo{
    flex-wrap: wrap;
    font-family: 'Anton';
    font-size: 70px;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.toptitle{
    position: absolute;
    font-family: 'Fjalla One';
    padding-top: 590px;
    color: white;
    text-shadow: 2px 2px 2px black, 3px 1px 7px black;
    margin: 0 auto;
    padding-left: 20px;
}

.toptext{
    padding-top: 640px;
    position: absolute;
    margin-left: 20px;
    color: white;
    font-family: 'Fjalla One';
    font-size: 22px;
    text-shadow: 2px 2px 2px black, 3px 1px 7px black;
    margin: 0 auto;
    padding-left: 20px;
}

.pict1{
     margin-top: 10px;
}

.pict2{
     margin-top: 10px;
}

.pict3{
     margin-top: 10px;
}

#carouselExampleFade{
    margin-top: 10px;
}

.subscribe1{
    position: relative;
    max-width: 100%;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.7;
}
.subscribe1:hover .overlay{
    width: 100%;
}
.subscribe1 p{
    font-family: cursive;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.subscribe1 img{
    display: block;
    width: 100%;
    height: auto;
}

.subscribe2{
    position: relative;
}

.subscribe2:hover .overlay{
    width: 100%;
}
.subscribe2 p{
    font-family: cursive;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.subscribe2 img{
    display: block;
    width: 100%;
    height: auto;
}

.subscribe3{
    position: relative;
}
.subscribe3:hover .overlay{
    width: 100%;
}
.subscribe3 p{
    font-family: cursive;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
}
.subscribe3 img{
    display: block;
    width: 100%;
    height: auto;
}

.charac1{
    position: absolute;
    text-decoration: underline; 
}

.charac11{
    position: absolute;
    text-decoration: underline; 
    right: 20px;
}

.charac2{
    margin-top: 55px;
    position: absolute;
    text-decoration: underline; 
}

.charac22{
    margin-top: 55px;
    position: absolute;
    text-decoration: underline; 
    right: 20px;
}

.charac3{
    margin-top: 110px;
    position: absolute;
    text-decoration: underline; 
}

.charac33{
    margin-top: 110px;
    position: absolute;
    text-decoration: underline; 
    right: 20px;
}

.charac4{
    margin-top: 155px;
    position: absolute;
    text-decoration: underline; 
}

.charac44{
    margin-top: 155px;
    position: absolute;
    text-decoration: underline; 
    right: 20px;
}

.charac5{
    margin-top: 200px;
    position: absolute;
    text-decoration: underline; 
}

.charac55{
    margin-top: 200px;
    position: absolute;
    text-decoration: underline; 
    right: 20px;
}

.charac6{
    margin-top: 250px;
    position: absolute;
    text-decoration: underline; 
}

.charac66{
    margin-top: 235px;
    position: absolute;
    text-decoration: underline; 
    right: 20px;
}

.charac7{
    margin-top: 295px;
    position: absolute;
    text-decoration: underline; 
}

.charac77{
    margin-top: 300px;
    position: absolute;
    text-decoration: underline; 
    right: 20px;
}

.description{
    margin-top: 30px;
}

.wheel, .charac1, .charac2, .charac3, .charac4, .charac5, .charac6, .charac7{
    font-family: fantasy;
    text-decoration: underline;
}

.wheel1, .charac11, .charac22, .charac33, .charac44, .charac55, .charac66, .charac77{
    font-family: cursive;
}

.xdiavel{
    width: 100%;
    padding-top: 100px;
    margin-bottom: 20px;
}

.xdiavelText{
    font-family: 'Anton';
    font-size: 30px;
    padding-top: 50px;
}

.xdiavelTextHead{
    font-family: 'Fjalla+One';
    font-size: 60px;
    padding-top: 100px;

}

#bottomBg{
    background-color: gray;
    padding-bottom: 100px;
}

#btext{
    font-size: 60px;
    font-family: fantasy;
    font-style: oblique;
    margin-top: 50px;
    text-align: center;
    color: black;
    
}

#btext2{
    font-size: 15px;
    font-family: fantasy;
    font-style: oblique;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}

#btext2 p{
    display: block;
    color: black;
}

#btext5{
    font-size: 15px;
    font-family: fantasy;
    font-style: oblique;
    margin-top: 100px; 
    text-align: center;
    color: black;
    
}

.linkfb{
    position: absolute;
    margin-left: -40px;  
    margin-top: 50px;
}

.linkin{
    position: absolute;
    margin-top: 50px;
}

.linktw{
    position: absolute;
    margin-top: 50px;
    margin-left: 35px;
}

